
page-signup {

    .ion-avatar
    {
        position: relative;

    }

    
    .ion-card
    {
        background-color:blue;
        top:75%;   
        padding: 1em;
    }    

    .item-card{
        padding-left: 0;
    }

}